@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@font-face {
    font-family: raleway;
    src: url(fonts/raleway.ttf) format('truetype');
}

body {
    background-color: rgb(49, 49, 49);
}

* {
    color: rgb(166, 228, 228);
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 3em;
}

h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 2.5em;
}

p {
    
    font: 1em 'raleway', sans-serif;
}

/* shorthand -> font - style, weight, size, family */